{% extends 'layout/base.twig' %}

{% block title %}
    Error
{% endblock %}

{% block content %}
<h1>Error</h1>

<p>{{ message }}</p>

<h5>Stack trace</h5>
<pre>{{ stack_trace }}</pre>
{% endblock %}
